body{
 background-color: #141414;
}

h1 {
  padding-top: 25px;
  text-align: center;
  color: rgb(110, 110, 255);
}

.container {
  text-align: center;
  padding-top: 20px;
}

.converter {
  padding-bottom: 50px;
}

.foot {
  color: rgb(110, 110, 255);
  border-top: 1px solid rgb(175, 175, 255);
}

.spacer {
  padding-top: 25px;
}

.navbar-brand, .nav-link {
  color: rgb(110, 110, 255);
}

.nav-link:hover {
  color: rgb(175, 175, 255);
}

.navbar-brand:hover {
  color: rgb(175, 175, 255);
}

.foot-links {
  color: rgb(110, 110, 255);
  text-decoration: none;
  float: left;
  padding-right: 25px;
}

.foot-links:hover {
  color: rgb(175, 175, 255);
}

@media only screen and (max-width: 767px) {
  .converter {
    padding-bottom: 25px;
  }  
}
